* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCE2C2;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 2rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sound_icon {
    display: flex;
    justify-content: flex-end;
}

.sound_icon i {
    padding: 5px;
}

.ques_num {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.ques_num h3, .timer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #FEC33D;
    font-size: 24px;
    line-height: 50px;
}

#question {
    height: 100px;
    background-color: #F5F5F57A;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
}

#question h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.timer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
}

.timer h3 {
    background-color: rgb(109, 232, 109);
}

#answer-buttons {
    height: 300px;
    background-color: #F5F5F57A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.option {
    padding: 10px;
    border:2px solid #D9D9D9;
    border-radius: 5px; 
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
}


.btn_next {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.btn_next button{
    color: #01AB08;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
}

.correct{
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}